####-*.patch
.idea/
*.pyc
*.swp
build/
dist/
electrum_sparks/gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
env
.tox/
.buildozer/
bin/
/app.fil

# tox files
.cache/
.pytest_cache/
.coverage

electrum_data/
electrum_sparks/gui/kivy/theming/light-0.png
electrum_sparks/gui/kivy/theming/light.atlas
*.egg-info/
packages/

.DS_Store

